.ui-flex
  display flex

.ui-flex-row
.ui-flex-column
.ui-flex-center
  &:not(.ui-flex)
    display flex

.ui-flex-fhvp
.ui-flex-fit-height-vp
.ui-flex-fit-height-viewport
.ui-flex-height
  height 100vh

.ui-flex-row
  flex-flow row nowrap

.ui-flex-column
  flex-flow column nowrap

.ui-flex-center
  display flex
  justify-content center
  align-items center

.ui-flex-center-x:not(.ui-flex-column)
  justify-content center

.ui-flex-center-y:not(.ui-flex-column)
  align-items center

.ui-flex-column.ui-flex-center-x
  align-items center

.ui-flex-column.ui-flex-center-y
  justify-content center

.ui-flex-left:not(.ui-flex-column)
.ui-flex-row.ui-flex-left
  justify-content flex-start

.ui-flex-right:not(.ui-flex-column)
.ui-flex-row.ui-flex-right
  justify-content flex-end

.ui-flex-top:not(.ui-flex-column)
.ui-flex-row.ui-flex-top
  align-items flex-start

.ui-flex-bottom:not(.ui-flex-column)
.ui-flex-row.ui-flex-bottom
  align-items flex-end

.ui-flex-column.ui-flex-left
  align-items flex-start

.ui-flex-column.ui-flex-right
  align-items flex-end

.ui-flex-column.ui-flex-top
  justify-content flex-start

.ui-flex-column.ui-flex-bottom
  justify-content flex-end

.ui-flex-scroll
.ui-flex-scroll-y
  overflow-y auto

// flex ratio

for num in (1...10)
  .ui-flex-{num}
    flex num
